
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fafafa;
}


@media (max-width: 600px) {
  .mainContainer {
    padding: 16px;
  }
}
